{% extends '_layout' %}

{% block main %}

    <div class="wrapper">
        <div class="font-mono bg-white border-r border-b">
            <div class="p-2">

                <h2>What's Included?</h2>
                <p>- Private Snapchat Username
                    <br/>
                </p>
                <br/>

                <h2>Is she STD free?</h2>
                <p>No.</p>

                <br/>
            </div>
        </div>
    </div>

{% endblock %}