<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" integrity="sha256-pMhcV6/TBDtqH9E9PWKgS+P32PVguLG8IipkPyqMtfY=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI=" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/pjax@0.2.6/pjax.min.js" integrity="sha256-RBw11hy399hr59WRwyWK/wGus0+WpHKn7qfAt/T7dTQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" integrity="sha256-XWzSUJ+FIQ38dqC06/48sNRwU1Qh3/afjmJ080SneA8=" crossorigin="anonymous"></script>
        <title>Slut Hub</title>

        <style>

            @import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
            @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
            @import url('https://fonts.googleapis.com/css?family=Caveat');

            .wrapper {
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .background {
                background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png");
            }

            .background::before {
                content: "";
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.25);
            }

            body::after {
                content: "";
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: hsla(180, 0%, 50%, 0.25);
                pointer-events: none;
            }

            .p-6 {
                padding: 1rem;
            }

            img {
                max-width: 100%;
            }

            .img-responsive {
                display: flex;
                max-width: 100%;
                height: auto;
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            .nav-hover {
                color: #333;
            }

            /* fonts */
            .font-bungee {
                font-family: 'Bungee Shade', cursive;
                color: #ccc;
                font-size: 25px;
            }

            .font-gloria {
                font-family: 'Gloria Hallelujah', cursive;
            }

            .font-caveat {
                font-family: 'Caveat', cursive;
                font-size: 25px;
            }

            /* accordion */
            .dropdown {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            .accordion {
                transition: 0.4s;
            }

            .active {
                background-color: #8795A1;
            }

            ul.unstyled {
                list-style-type: none;
            }
        </style>
    </head>

    <body class="bg-fixed">
        <div class="background">
            <nav class="relative shadow select-none bg-purple lg:flex lg:items-stretch w-full">
                <div class="flex justify-between container items-stretch mx-auto">
                    <div class="flex flex-no-shrink items-stretch h-12">
                        <a href="/" class="font-caveat flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-white no-underline flex items-center hover:bg-transparent">
                            <span>Slut Hub /></span>
                        </a>
                    </div>
                    <div class="flex flex-no-shrink items-stretch items-center hover:bg-purple-dark h-12 float-right">
                        <a href="/faq" class="font-caveat flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-white no-underline flex items-center hover:bg-transparent">
                            <span>FAQ</span>
                        </a>
                    </div>
                </div>

            </nav>
            <!-- end nav -->

            <!-- start secondary nav -->
            <div class="bg-white border-b">
                <div class="container mx-auto px-4">
                    <div class="flex -mb-px">

                        {# <div class="font-mono text-purple flex items-center py-4 border-b border-purple-dark">
                            Home
                        </div> #}

                    </div>
                </div>
            </div>
            <!-- end secondary nav-->

            <div class="container mx-auto">
                <div class="wrapper">
                    <div class="px-4 pt-6 pb-8 h-screen w-full">
                        <div id="pjax-container" class="pjax-switch">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <script>
                var pjax = new Pjax({
                    selectors: [
                        ".pjax-switch", ".dropdown", "#pjax-switch"
                    ],
                    cacheBust: false
                })
            </script>

            <script>
                $(document).on('pjax:send', function () {
                    NProgress.start();
                    $('.fadeIn').addClass('fadeOut').removeClass('fadeIn');

                });
                $(document).on('pjax:complete', function () {
                    NProgress.done(true);
                });
            </script>

            <script>
                $('.loading').click(function () {
                    var $this = $(this);
                    $this.toggleClass('loading');
                    if ($this.hasClass('loading')) {
                        $this.text('Purchase');
                    } else {
                        $this.html('Redirecting...');
                    }
                });
            </script>

            <!-- DuckSell Analytics v1.0 -->
            <script type="text/javascript">
                var _daq = _daq || [];
                (function () {
                    var u = "//gateway.sluthub.live/beacon.js";
                    _daq.push(['site_id', 1]);
                    var d = document,
                        g = d.createElement('script'),
                        s = d.getElementsByTagName('script')[0];
                    g.type = 'text/javascript';
                    g.async = true;
                    g.src = u;
                    s.parentNode.insertBefore(g, s);
                })();
            </script>
            <noscript>
                <p><img src="//gateway.sluthub.live/beacon?site_id=1" style="border:0;" alt=""/></p>
            </noscript>
            <!-- End DuckSell Analytics Code -->
        </body>
    </html>