<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <title>Slut Hub</title>

        <style>
            .wrapper {
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            body {
                background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png");
            }

            body::after {
                content: "";
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: hsla(180, 0%, 50%, 0.25);
                pointer-events: none;
            }

            .p-6 {
                padding: 1rem;
            }

            img {
                max-width: 100%;
            }

            .img-responsive {
                display: flex;
                max-width: 100%;
                height: auto;
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            .nav-hover {
                color: #333;
            }
        </style>
    </head>

    <body class="bg-fixed">
        <div class="background">

            {% block main %}
            
            {% endblock %}

        </body>
    </html>